@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500&family=Oswald:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing-: border-box;
    -moz-box-sizing-: border-box;
    -ms-box-sizing-:border-box;
    box-sizing: border-box;
}
  *,
  *::before,
  *::after {
box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
}
img{
  transition: all 1s ease-in;
&:hover{
  filter: opacity(0.5);
}
}
nav{
  background-color: #4f907c;
  .navbar-brand{
    width: 22%;
  }
  img{
    max-width: 100%;
  }
  .navbar-nav .dropdown-menu:hover{
    display: block;
  }
  .navbar-toggler,.navbar-toggler:focus {
    box-shadow: none;
    border: none;
  }
  li{
    font-weight: bold;
  }
  a{
    color: #fff !important;
    &:hover{
      color: #daf66e !important;
    }
  }
}
header{
  .carousel-item img{
    width: 100%;
    margin: auto;
  }
  .product{
    background-color: #f3f4f7;
    h2{
      font-size: 30px;
      position: relative;
      font-weight: bold;
      color: #000;
      &::after{
        content: "";
        width: 50px;
        height: 5px;
        position: absolute;
        left: 50%;
        bottom: 30px;
        background: #000;
        transform: translateX(-50%);
        transition: all 0.2s ease-in-out;
      }
    }
    img{
      max-width: 50%;
      display: block;
      margin: auto;
    }
  }
}
.About{
  background-image: url('../img/Untitled-10.jpg');
  background-size: cover;
  position: relative;
  .louayt{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .parg-about{
    line-height: 4;
    font-size: 20px;
    box-shadow: 20px 20px 1px #537b35;
    height: 450px;
    padding: 20px;
    border: 38px solid #fff;
  }
}
main{
  background-image: url('../img/Untitled-10.jpg');
  background-size: cover;
  position: relative;
  user-select: none;
  .v{
    line-height: 2;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .row{
    padding: 10px;
  }
  .louayt{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .box-item{
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #C52A41;
    padding: 20px;
    text-align: center;
    height: 100%;
    box-shadow: 1px -4px 12px 0;
  }
  .box-item img{
  border-radius: 20px;
  }
  .box-item h3{
  padding: 10px;
  font-weight: bold;
  }
  .box-item p {
    font-size: 20px;
    text-align: left;
  }
  .boxs{
    position: relative;
}
.louayts{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.item{
    text-align: center;
    position: relative;
}
.boxs h5{
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.item img{
    max-width: 60%;
    border-radius: 20px;
    padding: 10px;
}
.item h6 a{
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    text-decoration: none;
    color: #72c349;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-item img{
  width: 100%;
  margin: auto;
}
.carousel-control-prev,.carousel-control-next{
  background-color: #000;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  height: 10rem !important;
}
video{
  border-radius: 27px;
width: 300px;
height: 500px;
margin: auto;
display: block;
box-shadow: 7px 8px 13px 15px #000;
}
.videoBox{
  display: flex;
justify-content: space-around;
}
.videoBox img{
  width: 300px;
  margin-top: 15px;
  border-radius: 27px;

  height: 400px;
}
}
.Production{
  background-color: #f1f1f1;
}
.Production .header{
background-image: url('../img/breadcrumbs.jpg');
background-size: cover;
height: 200px;
position: relative;
}
.Production .header::after{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.Production .background{
  position: relative;
  z-index: 1;
  display: grid;
  text-align: center;
}
.Production .background::after{
content: "Production";
font-size: 50px;
  transform: translate(0, 50px);
}
.Production .boxing{
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin: auto;
}
.Production .boxing .hr{
  width: 50%;
  margin: auto;
  padding: 10px;
}
.Production .boxing img{
  border-radius: 20px;
}
.Production .boxing p{
  line-height: 2;
  transform: translate(10px, 10px);
  font-size: 20px;
}
.Production .Ms-top{
  margin-top: 30px;
}
footer{
  background-color: #04181f;
  .logo{
    padding-top: 50px;
    img{
      max-width: 50%;
      display: block;
      margin: auto;
    }
  }
  .item{
    padding-top: 100px;
    display: flex;
    flex-direction:column;
    color: #fff;
  }
  .foot{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    .text{
      p{
        font-size: 20px;
      }
      span:first-child {
        color: #72c349;
      }
      span a, span a:hover {
        text-decoration: none;
        color: #daf66e;
    }
    }
    .link{
      ul{
        display: flex;
        justify-content: end;
        align-items: center;
        list-style: none;
        li{font-size: 20px;}
        a{
          font-size: 30px;
          margin-right: 20px;
          color: #fff;
        }
      }
    }
  }
}
.about {
  position: fixed;
  z-index: 999999999999999999;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}
.about .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
}
.about .social.dribbble {
  transition: all 0.3s ease;
}
.about .social.dribbble .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
}
.about .social.linkedin {
  transition: all 0.8s ease;
}
.about .social.linkedin .icon {
  background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}
.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.dribbble .icon:hover {
  background-color: #ea4c89;
}
.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
}
.content {
  width: 100%;
  height: 100vh;
  background-color: #171f30;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .loading {
  width: 80px;
  height: 50px;
  position: relative;
}
.content .loading p {
  top: 0;
  padding: 0;
  margin: 0;
  color: #5389a6;
  font-family: "Oxygen", sans-serif;
  animation: text 3.5s ease both infinite;
  font-size: 12px;
  letter-spacing: 1px;
}
@keyframes text {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }
  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}
.content .loading span {
  background-color: #5389a6;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading 3.5s ease both infinite;
}
.content .loading span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #a6dcee;
  border-radius: inherit;
  animation: loading2 3.5s ease both infinite;
}
@keyframes loading {
  0% {
    width: 16px;
    transform: translateX(0px);
  }
  40% {
    width: 100%;
    transform: translateX(0px);
  }
  80% {
    width: 16px;
    transform: translateX(64px);
  }
  90% {
    width: 100%;
    transform: translateX(0px);
  }
  100% {
    width: 16px;
    transform: translateX(0px);
  }
}
@keyframes loading2 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }
  40% {
    transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    transform: translateX(0px);
  }
  90% {
    width: 80%;
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
.Loader,.Loaders {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000000;
  font-family: "Josefin Sans", sans-serif;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: opacity 0.75s, visibility 0.75s;
  .cubeWrap {
      perspective: 800px;
      width: 300px;
      overflow: hidden;
      position: absolute;
      -webkit-animation: bouncy 2s ease forwards;
      animation: bouncy 2s ease forwards;

      .cube {
          margin: 8em auto;
          width: 6em;
          height: 6em;
          transform-style: preserve-3d;
          transform-origin: 50% 50% -3em;
          position: relative;
          -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
          transform: rotateX(-50deg) rotateY(405deg);
      }
      div {
          position: absolute;
          width: 6em;
          height: 6em;
          transform-style: preserve-3d;
      }
  }
  .faces1::before,
  .faces1::after,
  .faces2::before,
  .faces2::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
  }

  .faces1::before,
  .faces2::before {
      transform: rotateY(90deg);
      transform-origin: 0 50%;
      background-color: purple;
  }

  .faces2 {
      transform: rotateX(180deg) translateZ(6em);
  }

  .faces2::before {
      background-color: orange;
      transform: rotateY(-90deg);
      transform-origin: 100% 50%;
  }
  .faces1::after,
  .faces2::after {
      transform: rotateX(-90deg);
      transform-origin: 50% 0;
      background-color: red;
  }

  .faces1 {
      background-color: #ffa500;
  }

  .faces2 {
      background-color: #ffa90a;
  }

  .faces1::before {
      background-color: #ffac14;
  }

  .faces2::before {
      background-color: #ffb329;
  }

  .faces1::after {
      background-color: #f59e00;
  }

  .faces2::after {
      background-color: #eb9800;
  }

  @-webkit-keyframes spin {
      0% {
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      }
      100% {
          transform: rotateX(720deg) rotateY(360deg) rotateZ(0deg);
      }
  }

  @keyframes spin {
      0% {
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      }
      100% {
          transform: rotateX(720deg) rotateY(360deg) rotateZ(0deg);
      }
  }
  @-webkit-keyframes bouncy {
      /* up */
      0% {
          transform: translateY(-600px) scale(0.8, 1.2);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
      }
      /* floor */
      30% {
          transform: translateY(0) scale(0.8, 1.2);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* floor */
      32% {
          transform: translateY(0) scale(1, 0.8);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* up */
      45% {
          transform: translateY(-100px) scale(0.9, 1.1);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
      }
      /* floor */
      60% {
          transform: translateY(0) scale(0.9, 1.1);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* floor */
      62% {
          transform: translateY(0) scale(1, 0.9);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* up */
      70% {
          transform: translateY(-30px) scale(0.9, 1.1);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
      }
      /* floor */
      80% {
          transform: translateY(0) scale(1, 1);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* floor */
      82% {
          transform: translateY(0) scale(1, 0.95);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* up */
      85% {
          transform: translateY(-10px) scale(0.98, 1.02);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
      }
      /* floor */
      90% {
          transform: translateY(0) scale(1, 1);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      100% {
          transform: translateX(-900px) scale(0.8, 1.2);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
      }
  }
  @keyframes bouncy {
      /* up */
      0% {
          transform: translateY(-600px) scale(0.8, 1.2);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
      }
      /* floor */
      30% {
          transform: translateY(0) scale(0.8, 1.2);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* floor */
      32% {
          transform: translateY(0) scale(1, 0.8);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* up */
      45% {
          transform: translateY(-100px) scale(0.9, 1.1);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
      }
      /* floor */
      60% {
          transform: translateY(0) scale(0.9, 1.1);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* floor */
      62% {
          transform: translateY(0) scale(1, 0.9);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* up */
      70% {
          transform: translateY(-30px) scale(0.9, 1.1);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
      }
      /* floor */
      80% {
          transform: translateY(0) scale(1, 1);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* floor */
      82% {
          transform: translateY(0) scale(1, 0.95);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      /* up */
      85% {
          transform: translateY(-10px) scale(0.98, 1.02);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
      }
      /* floor */
      90% {
          transform: translateY(0) scale(1, 1);
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
      }
      100% {
          transform: translateX(-900px) scale(0.8, 1.2);
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
      }
  }
}
.Loader-none {
  opacity: 0;
  visibility: hidden;
}
.Scroll-top{
background-color: #72c349;
color: #fff;
display: block;
position: fixed;
left: 15px;
bottom: 15px;
font-size: 15px;
padding: 15px;
display: none;
transition: all 1s ease-in-out;
animation: NameAn 5s linear infinite;
i{
  font-size: 20px;
}
&:hover{
  color: #fff;
}
}
@keyframes NameAn {
  0%,100%{
    background-color: #0077b5;
    font-size: 20px;
  }
  50%{
    background-color: #72c349;
    font-weight: bold;
  }
}
footer{
  a{
    color: #fff;
    text-decoration: none;
  }
}
@import 'media'